@model IEnumerable<ClinicaDeCelulares.Models.Ventas>

@{
    ViewData["Title"] = "Index";
}

<h2>Registro de ventas</h2>

<h2 class="paginate_button">
    <a class="btn btn-primary pull-right" asp-action="Registrar">Nueva venta</a>
</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Clientes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vendedor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vendedor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdVenta">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdVenta">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdVenta">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
