@model IEnumerable<ClinicaDeCelulares.Models.Productos>

@{
    ViewData["Title"] = "Index";
}

<h2>Lista de Productos</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="table" class="display" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Nombre")
            </th>
            <th>
                @Html.DisplayName("Precio/Unidad")
            </th>
            <th>
                @Html.DisplayName("Existencia")
            </th>
            <th>
                @Html.DisplayName("Proveedor")
            </th>
            <th>
                @Html.DisplayName("Categoria")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td class="edit" id="@item.IdProducto" data-propertyName="Nombre">

                @Html.DisplayFor(modelItem => item.nombreProducto)
            </td>
            <td class="edit" id="@item.IdProducto" data-propertyName="Precio">
                @Html.DisplayFor(modelItem => item.precioUnidad)
            </td>
            <td class="edit" id="@item.IdProducto" data-propertyName="Existencia">
                @Html.DisplayFor(modelItem => item.unidadesEnExistencia)
            </td>
            <td class="edit-prov" id="@item.IdProducto" data-propertyName="Compañia">
                @Html.DisplayFor(modelItem => item.Proveedores.idProveedor)
            </td>
            <td class="edit" id="@item.IdProducto" data-propertyName="Categoria">
                @Html.DisplayFor(modelItem => item.Categorias.IdCategoria)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdProducto">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdProducto">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdProducto">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
@section scripts{
    <script>
            $(document).ready(function () {
                $('#table').DataTable();
                 $(".edit").editable("/Productos/EditField", {
                submitdata: function () {
                    return {
                        id: $(this).data("id"),
                        field: $(this).data("propertyname"),
                        value: $(this).value
                         }

                }, //Función para poder recibir el nuevo valor y mostrarlo 
                callback: function (value, settings) {
                    var jsonData = $.parseJSON(value);
                    if (jsonData.status) {
                        $(this).text(jsonData.value);
                    } else { $(this).text(jsonData.mensaje); }
                }
            }); $(".edit-prov").editable("/Productos/EditField", {
                loadurl: "/Productos/Ids_ProveedoresJSON",
                type: "select",
                submit: "Ok",
                cssclass: "form-control",
                submitcssclass: 'btn btn-success',
                submitdata: function () {
                    return {
                        id: $(this).data("id"),
                        field: $(this).data("propertyname"),
                        value: $(this).value
                    }
                }, //Función para poder recibir el nuevo valor y mostrarlo
                callback: function (value, settings) {
                    var jsonData = $.parseJSON(value);
                    if (jsonData.status) {
                        $(this).text(jsonData.value);
                    } else {
                        $(this).text(jsonData.mensaje);
                    }
                }
            });
            });
    </script>
}
