@model IEnumerable<ClinicaDeCelulares.Models.Productos>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="table" class="display" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Nombre")
            </th>
            <th>
                @Html.DisplayName("Precio/Unidad")
            </th>
            <th>
                @Html.DisplayName("Existencia")
            </th>
            <th>
                @Html.DisplayName("Proveedor")
            </th>
            <th>
                @Html.DisplayName("Categoria")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td class="edit" id="@item.idProveedor" data-propertyName="Nombre">

                @Html.DisplayFor(modelItem => item.nombreProducto)
            </td>
            <td class="edit" id="@item.idProveedor" data-propertyName="Precio">
                @Html.DisplayFor(modelItem => item.precioUnidad)
            </td>
            <td class="edit" id="@item.idProveedor" data-propertyName="Existencia">
                @Html.DisplayFor(modelItem => item.unidadesEnExistencia)
            </td>
            <td class="edit" id="@item.idProveedor" data-propertyName="Compañia">
                @Html.DisplayFor(modelItem => item.Proveedores.compania)
            </td>
            <td class="edit" id="@item.idProveedor" data-propertyName="Categoria">
                @Html.DisplayFor(modelItem => item.Categorias.NombreCategoria)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdProducto">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdProducto">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdProducto">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
@section scripts{
    <script>
            $(document).ready(function () {
                $('#table').DataTable();
            });
    </script>
}
