@model ClinicaDeCelulares.Models.Ventas

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Ventas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubTotal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubTotal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vendedor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vendedor.IdVendedor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Clientes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Clientes.IdCliente)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdVenta" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
