@model IEnumerable<ClinicaDeCelulares.Models.Proveedores>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="table" class="display" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.compania)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombreRepresentante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefonoProveedor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                 <td class="edit" id="@item.idProveedor" data-propertyName="compañia">
                    @Html.DisplayFor(modelItem => item.compania)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombreRepresentante)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.telefonoProveedor)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.idProveedor">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.idProveedor">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.idProveedor">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts{
    <script>
            $(document).ready(function () {
                $('#table').DataTable();
            });
    </script>
}

